footer
    .container
        .row
            .col
                ul
                    li
                        a(href="#") Facebook
                    li
                        a(href="#") Twitter
                    li
                        a(href="#") Google+
                    li
                        a(href="#") LinkedIn
                    li
                        a(href="#") Behance
                    li
                        a(href="#") Dribble
                    li
                        a(href="#") GitHub