footer
    .container
        .row
            .col
                a(href="#") Facebook

                a(href="#") Twitter

                a(href="#") Google+

                a(href="#") LinkedIn

                a(href="#") Behance

                a(href="#") Dribble

                a(href="#") GitHub